.rootPane {
    -fx-background-image: url('../../../../Images/MainGameBackground.jpg');
    -fx-background-size: 20%;
    
    
}

.panePane {
	-fx-background-image: url("../../../../Images/GridBorderBackground.jpg");
}
